<form action="$(Genie.Router.linkto(:update_task, id = (get(@vars(:task))).id))" method="POST">
  <div>
    <label>
       内容:<input type="text" name="task_content" value="$((get(@vars(:task))).content)" />
    </label>
  </div>
  <div>
    <label>
        <%
          if (get(@vars(:task))).done == true
            """完了:<input type="checkbox" name="task_done" value="1" checked="checked" />"""
          else 
            """完了:<input type="checkbox" name="task_done" value="1" />"""
          end
         %>
    </label>
  </div>
  <div>
    <input type="hidden" name="task_id" value="1" />
  </div>
  <div>
    <input type="submit" value="更新" />
  </div>
</form>
